
body ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
body a{
	text-decoration: none;
	color: #444444;
	
}


.container{
	max-width: 1140px;
	margin: 0 auto;

	
	

}
.decorative{
	display: flex;
	line-height: 19px;
}
.icon-left{
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.icon-right{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.icon-left::before{
	content: "";
    background-color:white;
    display: inline-block;
    height: 1px;
    width: 70px;
	
}
.icon-center::before{
	content:url(~/static/images/test_v3.png)
}
.icon-right::before{
	content: "";
    background-color: white;
    display: inline-block;
    height: 1px;
    width: 70px;
}


/* 
	contenTopbar
 */
.menu{
	display: flex;
}
 .menu__left{
	line-height: 40px;
 }
.menu__left a{
	margin-right: 15px;
}
.top_bar_line {
	border-bottom: 1px solid #ebebeb;
}

h1{
	text-align: center;
	margin: 0;
}
.header__wrap__cart{
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
}
.header__wrap__cart span{
	justify-content: space-around;
}
.header__wrap__cart i{
	font-size: 25px;
}
.nav__wrap__menu{
	display: flex;
	justify-content: center;

}
.nav__wrap__menu li{
	padding: 20px 10px;
	
}
.nav__wrap__menu a{
	font-weight: 600;
}

.close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #666;
	font-size: 30px;
}